#hero {
  height: max(500px, 100vh);
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.programs {
  background-color: var(--light-bg);
}

.program {
  background: var(--optional-color);
  transition: all 0.4s linear;
}

.program .img-container {
  width: 100%;
  height: 300px;
}

.program .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.programInfo {
  text-align: center;
  padding: 1.5rem;
  margin: 0;
}

.programInfo * {
  color: white;
}

.programInfo h3 {
  font-size: 1.7rem;
  margin: 0;
}

.programInfo p {
  font-size: 1rem;
}

.program:hover {
  transform: translateY(-10px);
  box-shadow: 2px 8px 34px -7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 8px 34px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 8px 34px -7px rgba(0, 0, 0, 0.3);
}